button {
  padding: 0.5rem;
  border: transparent 0.5px solid;
  background-color: #272b2c;
  color: #cccccc;
  transition: 0.2s border-color;
}

button:hover {
  border-color: #cccccc;
}

/* Text color of the selected time for stats */
.selected {
  color: #fff;
}
