.artist-images-lists-wrapper {
  display: flex;
  flex-direction: column;
}

.artist-images {
  display: flex;
  flex-wrap: wrap;
}

/* Position relative/absolute to place artist names into their containers */
.artist-images li {
  position: relative;
  height: 40vh;
  flex-grow: 1;
}

.artist-images li:last-child {
  flex-grow: 10;
}

.artist-images li p {
  position: absolute;
  font-weight: 700;
  color: #fff;
  bottom: 0;
}

.artist-images li img {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* Genre list css */
.canvas-wrapper {
  position: relative;
  min-height: auto;
  width: 100%;
  display: flex;
  flex-grow: 1;
}
