.welcome-timeframe-wrapper {
  display: flex;
  justify-content: space-between;
}

.selection-wrapper button:last-child {
  border-bottom-right-radius: 0.3rem;
}

.selection-wrapper button:first-child {
  border-top-right-radius: 0.3rem;
}

.selection-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70%;
  left: 0%;
}

.timeframe {
  transform: translateY(-7.5rem);
}

.user-name {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
