.welcome-timeframe-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Artists/Tracks selection on the left side of the screen */
.selection-wrapper button:last-child {
  border-bottom-right-radius: 0.3rem;
}

.selection-wrapper button:first-child {
  border-top-right-radius: 0.3rem;
}

.selection-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70%;
  left: 0%;
}

.timeframe {
  transform: translateY(-7.5rem);
}

.user-name {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 1000ms 1 ease-in-out forwards;
}

.canvas-wrapper {
  min-height: 110vh;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Phone optimization */
@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }

  .content-wrapper,
  .canvas-wrapper {
    min-height: auto;
  }

  .content-ul-wrapper h2 {
    display: none;
  }

  .selection-wrapper {
    top: 10rem;
  }

  /* Putting timeframes on the right */
  .timeframe {
    right: 0;
    left: auto;
    top: 17rem;
  }

  /* Reversing border radius */
  .timeframe button:first-child {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0;
  }

  .timeframe button:last-child {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0;
  }

  .selection-wrapper > button {
    font-size: 12px;
    padding: 0.25rem;
  }
}
